<table class="w-10/12 mx-auto my-10 table table-auto border-collapse">
  <thead class="w-full">
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Status</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody class="w-full">
    <tr
      *ngFor="let station of stations; let i = index"
      class="border rounded pl-8"
    >
      <td
        *ngFor="let prop of station | keyvalue"
        class="border rounded text-left p-4"
      >
        {{ prop.value }}
      </td>
      <td class="text-center">
        <button (click)="updateStation(i, station)">Abschließen</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <zxing-scanner></zxing-scanner> -->
