<header class="h-1/6 rounded-b-3xl">
  <div class="w-screen h-1/2 flex justify-center items-center bg-red-500">
    Punkte: 000
  </div>
  <div class="w-screen h-1/2 flex flex-row">
    <a
      routerLink="bingo"
      class="w-1/2 h-full flex justify-center items-center bg-orange-500 border rounded-bl-3xl"
      routerLinkActive="bg-purple-500"
    >
      Bingo
    </a>
    <a
      routerLink="stations"
      class="w-1/2 h-full flex justify-center items-center bg-black border rounded-br-3xl"
      routerLinkActive="bg-purple-500"
    >
      Stationen
    </a>
  </div>
</header>
<main class="w-full">
  <router-outlet></router-outlet>
</main>
